[Unit]
Description=Senic Hub Button
After=systemd-remount-fs.service

[Service]
Type=forking
ExecStart=/usr/bin/senic_hub_button_daemon
PIDFile=/var/run/senic_hub_button_daemon.pid
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
